body {
  font-size: medium;
}

.custom-control-label::after,
.custom-control-label::before {
  display: none;
}

.custom-control {
  padding-left: 0;
}

.custom-control-inline {
  margin-right: 0;
}

.date-group-labels {
  border: 1px solid #ccc;
  border-radius: 0px;
  font: bold 15px Roboto, sans-serif;
  padding: 6px 7px;
  color: white;
  margin-left: 10px;
  background-image: -webkit-linear-gradient(top, blueViolet, blueViolet);
  background-image: -moz-linear-gradient(top, blueViolet, blueViolet);
  cursor: pointer;
}

.date-group-labels_v2 {
  border: 1px solid #ccc;
  border-radius: 0px;
  font: bold 15px Roboto, sans-serif;
  padding: 6px 7px;
  color: white;
  margin-left: 10px;
  background-image: -webkit-linear-gradient(top, DarkOrange, DarkOrange);
  background-image: -moz-linear-gradient(top, DarkOrange, DarkOrange);
  cursor: pointer;
}

.date-group-labels_v3 {
  border: 1px solid #ccc;
  border-radius: 0px;
  font: bold 15px Roboto, sans-serif;
  padding: 6px 7px;
  color: white;
  margin-left: 10px;
  background-image: -webkit-linear-gradient(top, DarkGreen, DarkGreen);
  background-image: -moz-linear-gradient(top, DarkGreen, DarkGreen);
  cursor: pointer;
}

.date-group-labels_v4 {
  border: 1px solid #ccc;
  border-radius: 0px;
  font: bold 15px Roboto, sans-serif;
  padding: 6px 7px;
  color: white;
  margin-left: 10px;
  background-image: -webkit-linear-gradient(top, blue, blue);
  background-image: -moz-linear-gradient(top, blue, blue);
  cursor: pointer;
}

.date-group-labels.date-group-labels-checked {
  background-image: -webkit-linear-gradient(top, #eee, #e3e3e3);
  background-image: -moz-linear-gradient(top, #eee, #e3e3e3);
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}

.custom-radio:first-child .date-group-labels {
  border-radius: 3px 0 0 3px;
}

.custom-radio:last-child .date-group-labels {
  border-radius: 0 3px 3px 0;
}

.custom-radio:not(:last-child) .date-group-labels {
  border-right: none;
}

.date-group-labels:hover {
  box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
}